<header>
  <nav class="group" role="navigation" aria-label="Site-wide">
    <a href="#skip-to-content" title="Skip to Content" class="offscreen">Skip to Content</a>
    {{ with .Params.tags }}
      <a href="#skip-to-tags" title="Skip to Page's Tags" class="offscreen">Skip to Page's Tags</a>
    {{ end }}
    {{ with .Params.series }}
      <a href="#skip-to-series-navigation" title="Skip to Page's Series Navigation" class="offscreen">Skip to Page's Series Navigation</a>
    {{ end }}

    <h1><a href="{{ .Site.BaseURL }}/" title="Homepage of {{ .Site.Title }}" aria-label="Homepage of {{ .Site.Title }}">{{ .Site.Title }}</a></h1>

    <a href="/about" title="About {{ .Site.Title }}">About</a>
    <a href="/contact-me" title="Conact Me">Contact Me</a>
    <a href="/series" aria-label="Site-wide list of Series" title="Site-wide list of Series">Series</a>
    <a href="/tags" aria-label="Site-wide list of Tags" title="Site-wide list of Tags">Tags</a>
  </nav>
  <form class="hide-when-javascript-disabled" role="search" method="get" action="https://cse.google.com/cse" aria-label="Site-wide" id="cse-search-box" target="_blank">
    <input type="hidden" name="cx" value="006896638866293454983:pjr59zfk4ag" />
    <input name="ie" type="hidden" value="UTF-8" />
    <input name="q" type="text" id="google-q-param" aria-label="Search"/>
    <input name="sa" type="submit" value="Search" />
  </form>
  <script>
    var form = document.getElementById('cse-search-box');
    form.setAttribute("class", "javascript-enabled");
  </script>
  <noscript>
    <form role="search" method="get" action="https://google.com/search" aria-label="Site-wide" id="cse-search-box" target="_blank">
      <input name="q" type="hidden" value="site:takeonrules.com" />
      <input type="submit" value="Search via Google" />
    </form>
  </noscript>
</header>
