<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="Qrv_HOtNzrtzf4kjCTH5bVcJCMLGyuvjHr7xHQ4jngM" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <title>{{ .Title }} - {{ .Site.Title  }}</title>

  {{ $style := resources.Get "css/tufte.scss" | resources.ToCSS | resources.Fingerprint }}
  <link rel="stylesheet" type="text/css" media="screen,print" href="{{ $style.Permalink }}">
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .Sitemap.Filename | absURL }}" />
  <link rel="me" href="https://tabletop.social/@takeonrules" title="takeonrules@Mastodon">
  <link rel="me" href="https://github.com/jeremyf" title="jeremyf@Github">
  <link rel="me" href="https://pluspora.com/people/3a495ca0ad6901364692005056268def" title="takeonrules@pluspora.com">
  <link rel="me" href="https://mewe.com/i/takeonrules" title="mewe.com/i/takeonrules">
</head>
