<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {{ partial "head.html" . }}
  <!-- Need to add option to toggle width -->
  <body class="default-width">
    {{ partial "body-header.html" . }}
    <meta name="layout" content="terms" />
    <main class="group" role="main" aria-label="Blog posting">
      <article role="article" class="single-article">
        <header>
          <h1 id="{{ anchorize .Title }}">{{ .Title }}</h1>
        </header>
        <section class="list-page">
  {{ range .Data.Pages.GroupByDate "2006" }}
    <details open>
      <summary class="year">{{ .Key }} ({{ len .Pages }})</summary>
      {{ range .Pages.GroupByDate "January" }}
        <ul>
          <li>
            <details open>
              <summary>{{ .Key }} ({{ len .Pages }})</summary>
                {{ range .Pages }}
                  <ul>
                    <li>
                      <span class="list-date">{{ .Date.Format "Jan 2" }} &middot;</span>
                      <a href="{{ .RelPermalink }}">{{.Title}}</a>
                    </li>
                  </ul>
                {{ end }}
            </details>
          </li>
        </ul>
      {{ end }}
    </details>
    {{ end }}
  </section>
{{ partial "footer.html" . }}
</article>
</body>
</html>
