{{ partial "header.html" . }}

<body>
  <div id="layout" class="pure-g">
  <div class="content content-column pure-u-1 pure=u-md-4-5">
  {{ partial "brand.html" . }}

      <h1 class="content-title-mini">{{ .Title  }}</h1>

      {{ range .Data.Pages.GroupByDate "2006" }}
        <details open>
          <summary>{{ .Key }} ({{ len .Pages }})</summary>

          {{ range .Pages.GroupByDate "January" }}
            <div class="list-page">
            <ul>
              <li>
                <details open>
                  <summary>{{ .Key }} ({{ len .Pages }})</summary>
                    {{ range .Pages }}
                      <ul>
                        <li>
                          <span class="list-date">{{ .Date.Format "Jan 2" }} &middot;</span>
                          <a href="{{ .RelPermalink }}">{{.Title}}</a>
                        </li>
                      </ul>
                    {{ end }}

                </details>
              </li>
            </ul>
            </div>
          {{ end }}
        </details>
      {{ end }}


          {{ partial "footer.html" . }}
        </div>

  </div>
</body>
</html>
