<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {{ partial "single/head.html" . }}
  <!-- Need to add option to toggle width -->
  <body class="default-width">
    {{ partial "single/body-header.html" . }}
    <meta name="layout" content="terms" />
    <main class="group" role="main" aria-label="Blog posting">
      <article role="article" class="single-article">
        <header>
          <h1 id="{{ anchorize .Title }}">{{ .Title }}</h1>
        </header>
        <a name="skip-to-content"> </a>
        <section class="content">
          {{ $data := .Data }}
          <details open>
            <summary>By Frequency</summary>
            <div class="table-wrapper">
            <table>
            <thead>
              <tr>
                <th>Term</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
            {{ range $key, $value := .Data.Terms.ByCount }}
              <tr>
                <td>
                <a href="{{ $value.Name| urlize }}">
                {{ $value.Name}}
                </a>
                </td>
                <td>{{  $value.Count }}</td>
              </tr>
            {{ end }}
            </tbody>
            </table>
          </div>
        </details>
        <details open>
          <summary>Alphabetically</summary>
          <div class="table-wrapper">
            <table>
            <thead>
              <tr>
                <th>Term</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
            {{ range $key, $value := .Data.Terms.Alphabetical}}
              <tr>
                <td><a href="{{ $value.Name| urlize }}">
                  {{ $value.Name}}
                </a></td>
                <td>{{  $value.Count }}</td>
              </tr>
            {{ end }}
            </tbody>
            </table>
            </div>
          </details>
        </section>
      </article>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
