/*****************************************************************************/
/*
/* Tufte Jekyll blog theme
/* Based on Tufte CSS by Dave Liepmann ( https://github.com/edwardtufte/tufte-css )
/*
/* The README.md will show you how to set up your site along with other goodies
/*****************************************************************************/

// Imports to create final

/* BEGIN SKIP-AMP */
// Don't need
@import "fonts";
/* END SKIP-AMP */
@import "settings";
// Removed as I don't have code
// @import "../_sass/syntax-highlighting";

// Global Resets
//
* { margin: 0; padding: 0; }

/* clearfix hack after Cederholm (group class name) */
.group:after { content: ""; display: table; clear: both; }

html, body { height: 100%; }

// First significant deviation from CSS on tufte.css site - variable font size as browser width expands or contracts
//html { font-size: 15px; }

html { vertical-align: baseline; font-size: 11px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
@media screen and (min-width: 800px){ html{ font-size: 12px;} }
@media screen and (min-width: 900px){ html{ font-size: 13px;} }
@media screen and (min-width: 1000px){ html{ font-size: 14px;} }
@media screen and (min-width: 1100px){ html{ font-size: 15px; } }
@media screen and (min-width: 1200px){ html{ font-size: 16px; } }
@media screen and (min-width: 1300px){ html{ font-size: 17px; } }

// sets link style according to values in _settings.scss
.mathblock{ font-size: 1.3rem; }

a { color: $contrast-color;  text-decoration: none; }

p > a {
  @if $link-style == underline {
    color: $text-color; text-decoration: none; border-bottom: 1px solid #777; padding-bottom: 1px;
  } @else {
    color: $contrast-color; text-decoration: none;
  }
}
body { width: 87.5%; margin-left: auto; margin-right: auto; padding-left: 12.5%; font-family: $body-font; background-color: $bg-color; color: $text-color; max-width: 1400px; counter-reset: sidenote-counter; }
// --------- Typography stuff -----------//
// added rational line height and margins ala http://webtypography.net/intro/
h1 {                     font-weight: 400; font-size: 2.5rem; margin-top: 1.568rem;              margin-bottom: 1.568rem; line-height: 1.08888888888889; }
h2, summary { font-style: italic; font-weight: 400; font-size: 2.1rem; margin-top: 1.8666666666666667rem; margin-bottom: 0;        line-height: 1.08888888888889; }
h3 { font-style: italic; font-weight: 400; font-size: 1.8rem; margin-top: 2.1777777777777778rem; margin-bottom: 0;        line-height: 1.08888888888889; }
// ET says a need for more than 3 levels of headings is the sign of a diseased mind; But I added an h4

p .subtitle { font-style: italic; margin-top: 2.1777777777777778rem; margin-bottom: 2.1777777777777778rem; font-size: 1.8rem; display: block; line-height: 1.08888888888889; }
p, ol, ul { font-size: 1.4rem; }
p { margin-top: 1.4rem; }
p, li { line-height: 2rem; padding-right: 2rem; vertical-align: baseline; }
blockquote {
  font-size: 1.1rem;
  p, ul { font-size: 1.1rem; line-height: 1.78181818; margin-top: 1.78181818rem; margin-bottom: 1.78181818rem; width: 45%; padding-left: 2.5%; padding-right: 2.5%; }
  li { font-size: 1.1rem; margin-left: 3.5%; }
// Removing the far too large padding for lists in a quote
  ul { padding-top: 0; }
  ul ul, ul ol, ol ul, ol ol { width: 100%; }
  footer { font-size: 1.1rem; margin-top: -1.2818181rem; width: 45%; text-align: right; }
}

/* BEGIN Epigraphs */
div.epigraph > blockquote { font-style: italic; }
div.epigraph > blockquote p, div.epigraph > blockquote ul { font-style: italic; margin-top: 1rem; margin-bottom: 1rem; }
div.epigraph > blockquote > footer { margin-top: 0rem; font-style: normal; }
div.epigraph > blockquote > footer > cite { font-style: italic; }
/* END Epigraphs */

.sans { font-family: $sans-font; letter-spacing: .03em; }
// removed .code 'class' since code is an actual html tag
// also added p code, p pre code and pre selector to account for Markdown parsing
// of triple backticks plus rationalized line-heights and margins
pre, pre code, p code, p pre code { font-family: $code-font; font-size: 1.2rem; line-height: 1.71428571; margin-top: 1.71428571rem; }

h1 code, h2 code, h3 code { font-size: 0.80em; } //left in for no real reason

/*-- Table styling section - For Tufte-Jekyll, booktabs style is default for Markdown tables  --*/

//making booktabs style tables the unstyled default in case someone uses Markdown styling
table, table.booktabs { width: auto; margin: 0 auto; border-spacing: 0px; border-top: 2px solid $border-color; border-bottom: 2px solid $border-color; }

.booktabs th, th { border-bottom: 1px solid $border-color; padding: 0.65ex 0.5em 0.4ex 0.5em; font-weight: normal; text-align: center; }

tfoot td { border-top: 1px solid $border-color; padding: 0.65ex 0.5em 0.4ex 0.5em; font-weight: normal; font-size: smaller; text-align: center; }

th, td{ font-size: 1.2rem; line-height: 1.71428571;  }

.booktabs th.cmid, th { border-bottom: 1px solid lighten($border-color, 25%); }

.booktabs th.nocmid { border-bottom: none; }

.booktabs tbody tr:first-child td,  tr:first-child td { padding-top: 0.65ex; } /* add space between thead row and tbody */

.booktabs td, td {  padding-left: 0.5em; padding-right: 0.5em; text-align: left; }

.booktabs caption, caption { font-size: 90%; text-align: left; width: auto; margin-left: auto; margin-right: auto; margin-top: 1ex; caption-side: top; }

.booktabs tbody tr td.l { text-align: left }
.booktabs tbody tr td.c { text-align: center }
.booktabs tbody tr td.r { text-align: right }

.table-caption { float:right; clear:right; margin-right: -60%; width: 50%; margin-top: 0; margin-bottom: 0; font-size: 1.0rem; line-height: 1.96; }
/* -- End of Table Styling section --*/


/* Basic Layout stuff --*/

article { position: relative; padding: 1rem 0rem 1.5rem 0rem; } // reduced top and bottom padding by 50%

section { padding-top: 1rem; padding-bottom: 1rem; }


ul, ol { width: 45%; -webkit-padding-start: 5%; -webkit-padding-end: 5%; padding-top: 1rem; }

/* ------------------------------------------------------------------------ */
/* Styling for listing pages. */
/* ------------------------------------------------------------------------ */
.list-page ul { list-style-type: none; margin: -0.25em; width: 87.5%; max-width: 45rem; }
.list-page li { margin: 0; }
.list-date { display: inline; font-size: 0.75em; }

/* Table of Contents */
.toc summary { font-size: 1.5rem; margin-bottom: -1.5rem; padding-left: 0; }
.toc ul { list-style: none; display: block; padding: 0; width: 87.5%; }
.toc li { line-height: 0.5rem; margin: 1rem; }
/* ------------------------------------------------------------------------ */
/* END Styling for listing pages. */
/* ------------------------------------------------------------------------ */


//li { padding: 0.5em 0; } //vertical padding on list items screws up vertical rhythym

figure, figure img.maincolumn { max-width: 55%; -webkit-margin-start: 0; -webkit-margin-end: 0; margin-bottom: 3em; }

figcaption { float: right; clear: right; margin-right: -48%; margin-top: 0; margin-bottom: 0; font-size: 1.0rem; line-height: 1.6; vertical-align: baseline; position: relative; max-width: 40%; }

figure.fullwidth figcaption { float: left; margin-right: 0%; margin-left: 36%; }

img { max-width: 100%; }

p, footer, div.table-wrapper, div.mathblock{ width: 55%; }

div.table-wrapper { overflow-x: auto; } //changed all overflow values to 'auto' so scroll bars appear only as needed

@media screen and (max-width: 760px) {
  html { width: 90%; }
  p, footer,div.mathblock { width: 90%; }
  pre code { width: 87.5%; }
  ul { width: 85%; }
  figure { max-width: 90%; }
  figcaption, figure.fullwidth figcaption { margin-right: 0%; max-width: none; }
  blockquote p, blockquote footer {  width: 80%; padding-left: 5%; padding-right: 5%; }
}


pre, pre code, p pre code { width: 52.5%; padding-left: 2.5%; overflow-x: auto; }

.fullwidth, li.listing div{ max-width: 90%; }

span.newthought { font-variant: small-caps; font-size: 1.2em; letter-spacing: 0.05rem; }

@import "marginalia";

@media screen and (max-width: 760px) {
  span.marginnote:not(.marginfigure), span.sidenote {
    border-left-width: thin;
    border-left-color: $contrast-color;
    border-left-style: dotted;
    padding-left: 0.5rem;
  }
  // The collapsed and non-collapsed CSS are reciprocals. You should pick one or the other
  // BEGIN collapsed margin
  // .sidenote, .marginnote { display: none; }
  // .margin-toggle:checked + .sidenote,
  // .margin-toggle:checked + .marginnote { display: block; float: left; left: 1rem; clear: both; width: 95%; margin: 1rem 2.5%; vertical-align: baseline; position: relative; }
  // END collapsed margin
  .sidenote, .marginnote { display: block; float: left; left: 1rem; clear: both; width: 95%; margin: 1rem 2.5%; vertical-align: baseline; position: relative; }
  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote { display: none; }
  // END non-collapsed margin
}

@media (max-width: 760px) {
  label.margin-toggle:not(.sidenote-number) { display: inline; color: $contrast-color; }
  label { cursor: pointer; }
  pre, pre code, p code, p pre code { width: 90%; padding: 0; }
  .table-caption { display: block; float: right; clear: both; width: 98%; margin-top: 1rem; margin-bottom: 0.5rem; margin-left: 1%; margin-right: 1%; vertical-align: baseline; position: relative; }
  div.table-wrapper, table, table.booktabs { width: 85%; }
  div.table-wrapper { border-right: 1px solid #efefef; }
  img { max-width: 100%; }
}
/*--- End of Basic Layout stuff from tufte.css ---*/

/* -- Jekyll specific styling --*/
//helper classes

.contrast { color: $contrast-color;}
.smaller { font-size: 80%;}
//Nav and Footer styling area

header > nav.group, body footer.group { width: 95%; }

body footer.group { padding-top: 2rem; }

nav.group a.active:before { content:"\0003c\000a0"; } // escaped unicode for the carats and then a space on active menu links
nav.group a.active:after { content:"\000a0\0003e"; }

header > nav  a { font-size: 1.2rem; font-family: $sans-font; letter-spacing: 0.15em; text-transform: uppercase; color: $contrast-color; text-decoration: none; display: inline-block; float: left; margin-top: 1.5rem; margin-bottom: 0; margin-right: 2rem; vertical-align: baseline; }
header > nav a img { height: 5rem; position: relative; max-width: 100%; top:-1.5rem; }
ul.footer-links, .credits { list-style: none; text-align: center; margin: 0 auto; }
ul.footer-links li { display: inline; padding: 0.5rem 0.25rem; }
.credits { padding: 1rem 0rem; }

//change font color for credit links in footer
.credits {
  font-family: $sans-font;
  & a{ color: $contrast-color; }
}

// End of Nav and Footer styling area

//Full width page styling stuff

body.default-width {
  .content-listing, ul.content-listing li.listing { width: 90%; margin-right: auto; padding: 0% 5% 0% 0%; margin-left: 0; }
  .listing, .listing h3 { display: inline-block; margin:0; }
}
body.full-width {
 .content-listing, ul.content-listing li.listing { width: 90%; margin-left: auto; margin-right: auto; padding: 0% 5%; }

  .full-width article p { width: 90%; }
  h1.content-listing-header { font-style: normal; text-transform: uppercase; letter-spacing: 0.2rem; font-size: 1.8rem; }

  li.listing hr { width:100%; }
  .listing, .listing h3 { display: inline-block; margin:0; }
  li.listing {
    margin:0;
    & p { width: 100% }
  }
  li.listing:last-of-type { border-bottom: none; margin-bottom: 1.4rem; }
  li.listing h3.new { text-transform: uppercase; font-style: normal; }
}
hr.slender {
    border: 0;
    height: 1px;
    margin-top: 1.4rem;
    margin-bottom:1.4rem;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
// End of front listing page stuff


// Printing ands screen media queries

// Does not display a print-footer for screen display
@media screen{ .print-footer { display: none; } }

/* BEGIN SKIP-AMP */
@media print {

    * { -webkit-transition: none !important; transition: none !important; }
    *, *:before, *:after { background: transparent !important; box-shadow: none !important; text-shadow: none !important; }
    @page { margin: 0.75in 0.5in 0.75in 0.5in; orphans:4; widows:2; }
    body { font-size:  12pt; }
    html body span.print-footer{ font-family: $sans-font; font-size: 9pt; margin-top: 22.4pt; padding-top: 4pt; border-top: 1px solid #000; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    p, h2, summary , h3 { orphans: 4; widows: 4; }
    article h2, article summary, article h2 h3, article h3, article h3 h4, article h4, article h4 h5 { page-break-after: avoid; }
    body header , body footer.group { display:none; }
}

@import "icons";
/* END SKIP-AMP */

// Personal modifications
.post-meta { padding-top: 0.5em; }

figure { margin-top: 1em; }
h4 { font-style: italic; font-weight: 400; font-size: 1.2rem; margin-top: 1.6777777777777778rem; margin-bottom: 0; line-height: 1.08888888888889; }
table thead tr { background-color: $table-header; }
table th { font-weight: bold; }
table tbody tr:nth-child(even) { background-color: lighten($table-header, 20%); }
table.unstriped tbody tr {  background-color: $bg-color; }
table tbody tr.subhead { background-color: lighten($table-header, 20%); }
table tr.subbody td { padding-left: 1.5rem; }
table.full { width: 100%; }
 // Without this setting, when the header would wrap, the letters would overlap
main header h1 { line-height: 1.08888888888889; width: 85%; }
header > nav.group { padding-bottom: 1rem; }
// BEGIN Skip Navigation
a.offscreen { position:absolute; left:-1000px; top:-1000px; width:1px; height:1px; text-align: left; overflow:hidden; }
a.offscreen:focus, a.offscreen:active, a.offscreen:hover { position:absolute; padding: 0.75rem 0.75rem; margin-right: 2rem; margin-top: 1.5rem; left:5px; top:-20px; width:auto; height:auto; overflow:visible; background-color:$contrast-color; color: $bg-color; border: 1px dotted #000; }
// END Skip Navigation
ul, ol { padding-left: 2rem; }
header dl { padding-top: 1rem; width: 85% ; clear: left; }
header dl:first-of-type { padding-top: 0rem; }
header dl dt, header dl dd { float: left; margin-right: 0.7rem; }
header dl dt { margin-left: 0.7rem; }
header dl dt:first-child { margin-left: 0rem; }
section.content { clear: left; padding-top: 1rem; margin-bottom: 0rem; }
button[type='submit'] { padding: 3px 10px; }
header form { padding-bottom: 1rem; }
body.full-width ul { width: 85%; }
main.blogPostings article {
  h1 { font-size: 2.1rem; }
  h2, summary { font-size: 1.8rem; }
  h3 { font-size: 1.6rem; }
  h4 { font-size: 1.2rem; }
  section.content { margin-top: 0.5rem; }
}
.table-wrapper { padding-top: 0.5rem; }
.paragraph { width: 55% }
.single-article { padding-top: 0; }

.hide-when-javascript-disabled { display: none; }
