<dl>
  {{ with .Params.tags }}
    <dt>Tags:<a name="skip-to-tags"> </a></dt>
    {{ range . }}
        <dd><a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a></dd>
    {{ end }}
  {{ end }}
  <dt>Published:</dt>
  <dd><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></dd>
  {{ with .Lastmod }}
    <dt>Modified:</dt>
    <dd><time datetime="{{ .Format "2006-01-02" }}">{{ .Format "2006-01-02" }}</time></dd>
  {{ end }}
</dl>
{{ with .Params.series }}
  <dl>
    {{ $title := $.Site.Param (printf "series-%s" .) }}
    {{ if eq $title nil }}{{ $title = humanize . | title }}{{ end }}
    <dt>{{ $title }}:<a name='skip-to-series-navigation'> </a></dt>
    {{ $series := where $.Site.Pages "Params.series" . }}
    {{ $prev := where $series ".PublishDate" "lt" $.Page.PublishDate }}
    {{ $next := where $series ".PublishDate" "gt" $.Page.PublishDate }}
    <dd></dd>
    {{ range first 1 $prev }}
      <dd><a class="prev" aria-label="Previous {{ $.Page.Params.series }} post" href="{{ .Permalink }}">&laquo; Previous post</a></dd>
    {{ end}}
    {{ range last 1 $next }}
      <dd><a class="next" aria-label="Next {{ $.Page.Params.series }} post" href="{{ .Permalink }}">Next post &raquo;</a></dd>
    {{ end}}
  </dl>
{{ end }}
