<footer class="group" role="contentinfo" aria-label="Site-wide">
  <span class="print-footer">
    {{ .Title }} - {{ .Date.Format "2006-02-03" }} - {{ .Site.Params.copyrightHolder }}
  </span>
  <hr class="slender">
  <ul class="footer-links">
    {{ range .Site.Menus.footer }}
      <li>
        <a href="{{ .URL }}" aria-label="{{ .Name }}"><span aria-hidden="true" class="{{ .Identifier }}"></span></a>
      </li>
    {{ end }}
  </ul>
  <div class="credits">
    <span>&copy; {{ now.Format "2006" }} &nbsp; {{ .Site.Params.copyrightHolder }}</span><br />
  </div>
</footer>
