<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {{ partial "single/head.html" . }}
  {{ partial "single/head.html" . }}
  <body class="default-width">
    {{ $paginator := .Paginator }}
    {{ partial "single/body-header.html" . }}
    <nav role="navigation" aria-label="Blog postings pagination">
      {{ partial "paginator.html" $paginator }}
    </nav>
    <main role="main" aria-label="Blog postings" class="blogPostings">
      <h1>Blog Posts</h1>
      <a name="skip-to-content"> </a>
      {{ range $paginator.Pages }}
        <article>
          <header>
            <h1><a href="{{ .URL }}">{{ .Title }}</a></h1>
          </header>
          <section class="content">
            {{ .Content }}
          </section>
        </article>
      {{ end }}
    </main>
    <nav role="navigation" aria-hidden="true">
      {{ partial "paginator.html" $paginator }}
    </nav>
    {{ partial "footer.html" . }}
  </body>
</html>
