{{ partial "header.html" . }}
{{ $paginator := .Paginator }}
<body>
  <meta name="layout" content="single" />
<div id="layout" class="pure-g">
  <nav role="navigation" aria-label="Blog postings pagination">
    {{ partial "paginator.html" $paginator }}
  </nav>

<article class="pure-u-1">
{{ partial "brand.html" . }}
{{ range $paginator.Pages }}
  {{ partial "content.header.html" . }}
  <p>{{ .Summary }}</p>
  {{ if .Truncated }}
  <p><a href="{{ .RelPermalink  }}">Read On &rarr;</a></p>
  {{ end  }}
{{ end  }}
{{ partial "footer.html" . }}
</article>
</div>
</body>
</html>
