{{ $sidenoteDomIdSuffix := .Page.Scratch.Get "sidenoteDomIdSuffix" }}
{{ if eq $sidenoteDomIdSuffix nil }}
{{ .Page.Scratch.Set "sidenoteDomIdSuffix" 0 }}
{{ end }}
{{ .Page.Scratch.Add "sidenoteDomIdSuffix" 1 }}
{{ $sidenoteDomIdSuffix = .Page.Scratch.Get "sidenoteDomIdSuffix" }}
<label for="sidenote-{{.Page.UniqueID}}-{{ $sidenoteDomIdSuffix }}" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="sidenote-{{.Page.UniqueID}}-{{ $sidenoteDomIdSuffix }}" class="margin-toggle"/>
<span class="sidenote">{{ .Inner }}</span>
